{% extends 'base.html' %}

{% block navigation %}
    <div class="row">
        <ul class = "nav nav-tabs">
           <li><a href = "/">Home</a></li>
            <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Chess
               <b class = "caret"></b>
            </a>

            <ul class = "dropdown-menu">
               <li><a href = "/play-with-computer/">Play with computer</a></li>
                <li><a href = "/play-here/">Play here</a></li>
            </ul>
         </li>
            {% if user.is_authenticated %}
         <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               {{ user.username }}
               <b class = "caret"></b>
            </a>

            <ul class = "dropdown-menu">
               <li><a href = "/user/{{ user.username }}">Profile</a></li>

               <li class = "divider"></li>
                <li><a href = "/logout/">Logout</a></li>
            </ul>
         </li>
                <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               Tasks
               <b class = "caret"></b>
            </a>

            <ul class = "dropdown-menu">
               <li><a href = "/create-task/">Create task</a></li>
                <li><a href = "/tasks/">View tasks</a></li>
            </ul>
         </li>
                {% if user.is_superuser %}
                    <li><a href = "/admin/">Django admin</a></li>
                {% endif %}
            {% else %}
                <li><a href = "/signup/">Sign up</a></li>
               <li><a href = "/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}