{% extends 'base_chess.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Create task
{% endblock %}

{% block scripts %}
        <script src="{% static 'js/chess/add_boards.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>Create your game task here</h3>
    <div class="col-sm-3">
        <form method="post" role="form" enctype="multipart/form-data" id="id_create_form">
        {% csrf_token %}
        {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary" id="id_create_btn">
              {% bootstrap_icon "star" %} Add task
            </button>
        {% endbuttons %}
        </form>
    </div>
{% endblock %}