{% extends 'base_nav.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Create task
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'chessboardjs-0.3.0/css/chessboard-0.3.0.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'json/js/js_json3.min.js' %}"></script>
    <script src="{% static 'chessboardjs-0.3.0/js/chessboard-0.3.0.js' %}"></script>
    <script src="{% static 'js/add_boards.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>Create your game task here</h3>
    <div class="col-sm-3">
        <form method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="btn btn-primary" id="id_create_btn">
              {% bootstrap_icon "star" %} Add task
            </button>
        {% endbuttons %}
        </form>
    </div>
{% endblock %}