{% extends 'base_chess.html' %}
{% load staticfiles %}

{% block title %}
    Task
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/task.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="start_pos" myattr="{{ task.start_pos }}"></div>
    <div align="center">
        <div id="board" style="width: 400px"></div>
        <input class = "btn btn-primary" type="button" id="flipOrientationBtn" value="Flip orientation" />
        <input class = "btn btn-primary" type="button" id="againBtn" value="Start again" />
        <p>Question: {{ task.question }}</p>
    </div>
{% endblock %}

