{% extends 'base_nav.html' %}

{% block title %}
    {% if user == current_user %}
        your page
    {% else %}
        {{ user.username }}'s page
    {% endif %}
{% endblock %}

{% block content %}
    {% if user == watched_user %}
        <h3>Your page</h3>
    {% else %}
        <h3>{{ watched_user.username }}'s page</h3>
    {% endif %}
    <div class="row">
        <img src="{{ watched_user.profile.avatar.url }}" class = "col-sm-1 img-rounded">
        <div class = "col-md-offset-1 col-sm-2">
            <h4>User information</h4>
            {% if watched_user.profile.firstName  %}
                <p>First name: {{ watched_user.profile.firstName }}</p>
            {% else %}
                <p>First name: Not specified</p>
            {% endif %}
            {% if watched_user.profile.lastName %}
                <p>Last name: {{ watched_user.profile.lastName }}</p>
            {% else %}
                <p>Last name: Not specified</p>
            {% endif %}
        </div>
    </div>
    {% if watched_user == user %}
        <button type = "button" class = "btn btn-default" onclick="location.href='/profile/edit';">Change information about yourself</button>
    {% endif %}
{% endblock %}